<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908255906294-9m0ev5cp6k9reuj27e7j2g1v7qngjekq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908255906294-9m0ev5cp6k9reuj27e7j2g1v7qngjekq</string>
	<key>API_KEY</key>
	<string>AIzaSyDh43MNx3HTyW8tBCEoLnUN_wHyr9zl3yo</string>
	<key>GCM_SENDER_ID</key>
	<string>908255906294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zervee.customerapp</string>
	<key>PROJECT_ID</key>
	<string>zerveemobile-300604</string>
	<key>STORAGE_BUCKET</key>
	<string>zerveemobile-300604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908255906294:ios:d35979a55a5aac02999fd7</string>
</dict>
</plist>